.password input{
  width: 82%;
}
.password-visibility-toggle {
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  height: 100%;
  margin: 0%;
  cursor: pointer;
  right: 10px;
  font-size: 14px;
}
.dark .password-visibility-toggle {
  color: var(--dark-label-color);
}

.light .password-visibility-toggle {
  color: var(--light-label-color);
}

#password-strength-validation-box {
  margin: 117px 0 10px 0;
  border-radius: 5px;
  border: 1px solid var(--light-border-color);
  padding: 12px;
  position: absolute;
  z-index: 1;
}

.dark #password-strength-validation-box {
  background-color: var(--dark-secondary-color);
  border-color: var(--dark-border-color);
}

.light #password-strength-validation-box {
  background-color: var(--light-secondary-color);
}

#password-strength-validation-box::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  transform: rotate(45deg);
  margin-bottom: -9.3px;
  width: 15px;
  height: 15px;
  border: 1px solid var(--light-border-color);
  border-bottom: 0;
  border-right: 0;
  transform-origin: center top;
  background: linear-gradient(
    to right bottom,
    var(--light-secondary-color) 57%,
    transparent 43%
  );
}

.dark #password-strength-validation-box::before {
  border-color: var(--dark-border-color);
  background: linear-gradient(
    to right bottom,
    var(--dark-secondary-color) 57%,
    transparent 43%
  );
}

#password-strength-meter {
  height: 0.12cm;
  margin-top: 10px;
  border-radius: 1px;
  overflow: hidden;
  width: 230px;
}

.light #password-strength-meter {
  background-color: var(--light-hover-color);
}

.dark #password-strength-meter {
  background-color: var(--dark-hover-color);
}

#password-strength-meter-filler {
  height: 100%;
  transition: width 0.4s;
}

.password-validation-heading {
  margin: 0%;
  font-weight: 200;
}

.password-validations {
  margin: 7px;
  margin-left: 15px;
}

.light .password-validations {
  color: var(--light-label-color);
}

.dark .password-validations {
  color: var(--dark-label-color);
}

.password-weak {
  background-color: #cc5656;
}

.password-medium {
  background-color: #edf2aa;
}

.password-strong {
    background-color: #46ca72;
}

.password-very-strong {
  background-color: #3d8053;
}